includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - config/*
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
